@media screen and (max-width: 480px) {
    .content .section.hero {
      background-image: url(./assets/images/mountains_m.jpg);
      background-size: cover;
      background-position: center center;
      background-attachment: scroll;
      filter: brightness(1);
      height: 70vh;
    }
    .marquee-wrapper span {
      font-size: 2.5rem;
      margin-right: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    .content .section.hero {
      background-image: url(./assets/images/mountains_m.jpg);
      background-size: cover;
      background-position: center center;
      filter: brightness(0.9);
    }
    .marquee-wrapper span {
      font-size: 3rem;
      margin-right: 2rem;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .content .section.hero {
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
    }
    .marquee-wrapper span {
      font-size: 3rem;
      margin-right: 2rem;
    }
  }